.home {
    @include padd;

    &__tabs-selector {
        display: flex;

        li {
            @include trans;

            height: 40px;
            background: $lightestGray;
            text-align: center;
            line-height: 40px;
            font-size: 14px;
            width: 50%;
            color: $mainColor;
            cursor: pointer;

            &.-active {
                background: $mainColor;
                color: $white;
            }

            @include mq(sm) {
                font-size: 18px;
            }
        }
    }

    &__tab {
        @include trans;
        @include padd(both, half);
        position: absolute;
        top: 40px;
        left: 0;
        right:0;
        opacity: 0;
        pointer-events: none;

        &.-active {
            opacity: 1;
            pointer-events: all;
        }
    }

    &__channel-heading {
        @include padd(bottom, half);
    }

    &__channel-title {
        margin: 0;
        font-weight: 300;
        color: $mainColor;
    }

    &__videos-wrapper {
        display: flex;
        justify-content: space-between;       
        flex-wrap: wrap;
        padding: 0 20px; 
    }

    &__videos-title {
        text-align: center;
        margin-bottom: 20px;
    }

    &__video {
        width: 100%;
        margin-bottom: 3%;
        cursor: pointer;

        @include mq(sm) {
            width: 31%;
        }

        &__contents {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 0;
            padding-bottom: 56.5%;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 1;
            }

            iframe {
                @include trans;

                position: absolute;
                background: $black;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                opacity: 0;
                pointer-events: none;
                border: none;
            }
        }

        &.-showvideoinplace {
            iframe {
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    &__modal {
        @include trans;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        opacity: 0;
        pointer-events: none;

        &__backdrop {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,.75);
        }

        &__container {
            width: 90%;
            max-width: 900px;
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
        }

        .home__video {
            width: 100%;
        }

        &.-open {
            opacity: 1;
            pointer-events: all;

            .home__video__contents iframe {
                opacity: 1;
                pointer-events: all;
            }
        }
    }
}
